*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #3a3a3a;
}

.container{
  background-color: #fff;
  transform-origin: top left;
  transition: transform 0.4s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.active{
  transform: rotate(-10deg);
}

.circle-container{
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle{
  background-color: aqua;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.4s linear;
}
 .circle button{
   position: absolute;
   background: transparent;
   top: 50%;
   left: 50%;
   height: 100px;
   font-size: 18px;
   color: black;
   border: none;
 }


 .circle button:focus{
   outline: none;
 }

 button#open{
   left: 60%;
 }