*{box-sizing: border-box;}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #e3e3e3;
}
.box{
  margin: 10px;
  background-color: #ccc;
  border-radius: 10px;
  width: 90px;
}
