*{
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
}

.progress-container{
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between ;
  margin-bottom: 1rem;
  position: relative;
  max-width: 100%;
  width: 300px;

}
.container{
  text-align: center;
}
.progress-bar{
  background-color: rgb(86, 178, 190);
  top: 50%;
  left: 0;
  height: 4px;
  width: 40%;
  position: absolute;
}
.circle{
  z-index: 1;
  margin-left: 1rem;
  background-color: #fff;
  border: solid #ccc 4px;
  border-radius: 50%;
  padding: .3rem .5rem;
}

.circle.active{
  border: solid rgb(86, 178, 190) 4px;
}